/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --cover-path: url("../images/cover-image-dark.png");

  --bg-color: var(--bg-dark);

  --display-text: var(--violet);
  --title-shadow: var(--pink);

  --button-color: var(--pink);
  --button-hover-color: var(--pink-a50);

  --section-title-color: var(--pink);

  --card-title-bg: var(--pink);
  --card-title-color: var(--bg-dark);

  --article-text-color: var(--pink-light);

  --decor-color: var(--pink);

  --rec-visibility: block;
}
