/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --cover-path: url("../images/cover-image-light.png");

  --bg-color: var(--bg-light);

  --display-text: var(--accent-pink-pale);
  --title-shadow: var(--accent-pink-light);

  --button-color: var(--charcoal);
  --button-hover-color: var(--charcoal-a50);

  --section-title-color: var(--charcoal);

  --card-title-bg: var(--accent-pink-light);
  --card-title-color: var(--charcoal);

  --article-text-color: var(--charcoal);

  --decor-color: var(--charcoal);

  --rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --cover-path: url("../images/cover-image-light.png");

    --bg-color: var(--bg-light);

    --display-text: var(--accent-pink-pale);
    --title-shadow: var(--accent-pink-light);

    --button-color: var(--charcoal);
    --button-hover-border: var(--charcoal-a50);

    --section-title-color: var(--charcoal);

    --card-title-bg: var(--accent-pink-light);
    --card-title-color: var(--charcoal);

    --article-text-color: var(--charcoal);

    --decor-color: var(--charcoal);

    --rec-visibility: none;
  }
}
